a {
    text-decoration: none;
    color: #ffffff;
}

a:visited {color:#ffffff;}
a:hover {}
a:active {}

* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

body {
    font-family: 'Lato', sans-serif;
    background-image: url("img/tlo2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color:#99FF99;

}


.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.container nav ul span {
    color: #336633;
}

nav {
    width: 100%;
    background-color: #93DB70;
    padding: 10px;
    margin-top: 2%;
    border: 2px solid #238E23;
    border-radius: 10px;
    text-transform: uppercase;
}

nav ul {
    list-style-type: none;
    height: 30%;
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding: 20px;
    border-right: 2px dotted #238E23;
    font-size: large;

}

nav ul li:hover {
    background-color: #238E23;
    cursor: pointer;
    border-radius: 10px;
}

nav ul li:first-child {
    cursor: pointer;
    float: left;
    border: none;
    margin-top: -0.6%;
    background-color: #93DB70;
}

nav ul li:last-child {
    border: none;
}

header {
    margin-top: 2%;
}

header img {
    width: 100%;
    height: 500px;
}

article {
    text-align: center;
}

article p {
    font-size: large;

}

.zdjecia {
    width: 100%;
    display: inline-block;
    text-align: center;
}

header {
    text-align: center;
}

article {
    width: 100%;
    text-align: center;
    margin-top: 5%;
}

article h2 {
    color: #238E23;
}

article .card {
    width: 300px;
    background-color: #CCFFCC;
    display: inline-block;
    margin-left: 2%;
    margin-top: 1%;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    vertical-align: top;
}

article .card:hover {
    transform: scale(0.9);
}

article .card img {
    width: 300px;
    opacity: 1;
}

article .card p {
    color: #000000;
}

article h3, p {
    color: #000000;
    text-align: left;
}

.maczniak {
    text-align: left;
    color: #ffffff;
}

.maczniak li {
    margin-left: 50px;
}

img {
    width: 100%;
}

header .header-napis {
    color:#99FF99;
}

footer {
    width: 99%;
    background-color: #93DB70;
    text-align: center;
    color: #000000;
    padding: 10px;
    margin-bottom: 0;
}

.produkcja {
    width: 300px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-left: 2%;
    transition: all 0.2s ease-in-out;
}

.produkcja:hover {
   opacity: 0.7;
}

.produkcja p {
    color: #ffffff;
}

.naglowek-rosliny {
    color: #000000;
}

.text-rosliny {
    color: #ffffff;
}

.galeria-roslin-naglowek {
    margin-top: 3%;
    color: #99FF99;
    position: relative;
    overflow: hidden;
}

hr {

    height: 5px;
    background-color: #336633;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}


figure{
    display: inline-block;
    vertical-align: top;
    margin-left: 1%;
    width: 450px;
}

figure img {
    height: 300px;

}

figure figcaption {
    color: #000000;
}

table {
    border: 1px solid #000000;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}

table tr th {
    padding: 0 10px;
    border: 1px solid #000000;
    color: #006600;
}

table tr td {
    padding: 0 10px;
    border: 1px solid #000000;
    color: #000000;
}

table tr .kolor1 {
    background-color: #FFCDD2;
}

table tr .kolor2 {
    background-color: #E57373;
}

table tr .kolor3 {
    background-color: #E53935;
}

table tr .kolor4 {
    background-color: #B71C1C;
}

.rejestracja {
    width: 60%;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}

form {
    font-size: 24px;
    text-align: left;
}

input[type=text],
input[type=password], textarea{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #efefef;
    color: #666666;
    border: 2px solid #dddddd;
    box-sizing: border-box;
    outline: none;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus{
    -webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    -moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    border: 2px solid #a5cda5;
    background-color: #e9f3e9;
}

input[type=submit] {
    width: 300px;
    background-color: #36b03c;
    color: #ffffff;
    padding: 15px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
}

input[type=submit]:hover {
    background-color: #37b93d;
}
